:root{
    --bg: #242424;
    --text: #ffffff;
    --warnung: #e91313;
    --hover: #565656;
    --border: #ddd;

}

body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    background-color: var(--bg);
    color: var(--text);
}

.warnung {
    background-color: var(--warnung);
    color: var(--text);
}

#ProdukteList {
    border-collapse: collapse;
    width: 100%;
}

td, th {
  border: 1px solid var(--border);
  padding: 8px;
}

tr:hover {background-color: var(--hover);}

#produkteForm {
    width: 100%;
}